{
  "presets": ["react-native"],
  "sourceMaps": "inline",
  "env": {
    "development": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-react-jsx-source"
      ]
    }
  },
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@apis": "./src/apis",
        "@screen": "./src/components/screen",
        "@navigation": "./src/components/navigation",
        "@models": "./src/models",
        "@stores": "./src/stores",
        "@utils": "./src/utils",
        "@STRINGS": "./STRINGS",
        "@BaseStyles": "./src/BaseStyles",
        "@assets": "./assets",
        "@shared": "./src/components/shared",
        "@app": "./src/app"
      }
    }]
  ]
}
